
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
</head>
<body>
    <div>
        <h1>Registration Page</h1>
        <table class="table table-bordered">
            <thead>
                <tr class="success">
                    <th colspan="2">

